@font-face {
    font-family: Minecraft-bold;
    src: url(./fonts/MinecraftBold-nMK1.otf);
}
@font-face {
    font-family: Minecraft-reg;
    src: url(./fonts/MinecraftRegular-Bmg3.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: oaf;
}
body{
    background-image: url("../images/sqww754f9zu41.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
html {
    min-height: 100%;
}
.navbar-brand{
    margin-left: 10px;
    font-family: Minecraft-bold;
}
.nav-link{
    font-family: Minecraft-reg;

}
.navbar{
    border-color: #131316;
}footer{
    font-family: Minecraft-reg;
 }
 .container{
     height: 1000px;
     margin-left: 5px;
     margin-top: 30px;
 }
 .p-1{
     font-family: Minecraft-reg;
     transition: 1s;
 }
 .p-1:hover{
     font-size: 24px;
     transition: 1s;
 }
.q{
     font-family: Minecraft-bold;
 }
hr{
    width: 15cm;
}
.navbar-toggle {
    float: left !important;
    margin-left: 15px;
}

.navbar-header.navbar-right.pull-right {
    margin-right: 15px;
}

.navbar-right > li {
    float: left;
}
.me-2{
    font-family: Minecraft-reg;
}
.btn{
    font-family: Minecraft-reg;
}
h1{
    font-family: Minecraft-bold;
}
.qb{
    width: 3.5cm; !important;
    height: 3.5cm;
    border-radius: 100%;
}
.abt{
    font-family: Minecraft-reg;
    margin-top: 1.2cm;
    float: right;

}
.prof{
    width: 132px;
    height: 132px;
}
.h11{
    width:auto;
}
